$first-family:"Roboto Condensed", sans-serif;
$second-family:"Balqis",sans-serif;

$mobile-s-fs:10px;
$mobile-fs:12px;
$main-fs:18px;
$second-fs:24px;
$title-xs-fs:28px;
$title-s-fs:56px;
$footer-fs:86px;
$title-m-fs:96px;
$title-l-fs:156px;
$title-fs:250px;


$main-fw:300;
$second-fw:400;

$main-color:#000;
$bg-color:#fff;
$accent-color: #e2ab3f;


